<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.ClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.Client">
        <id column="client_id" property="clientId" />
        <result column="client_name" property="clientName" />
        <result column="client_phone" property="clientPhone" />
        <result column="client_time" property="clientTime" />
        <result column="client_seas" property="clientSeas" />
        <result column="client_kind" property="clientKind" />
        <result column="client_period" property="clientPeriod" />
        <result column="client_qualitative" property="clientQualitative" />
        <result column="client_rank" property="clientRank" />
        <result column="client_signing_date" property="clientSigningDate" />
        <result column="client_contract_amount" property="clientContractAmount" />
        <result column="client_source" property="clientSource" />
        <result column="client_site" property="clientSite" />
        <result column="client_remark" property="clientRemark" />
        <result column="client_transfer" property="clientTransfer" />
    </resultMap>

</mapper>
