<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.ComplaintMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.Complaint">
        <id column="com_id" property="comId" />
        <result column="com_themes" property="comThemes" />
        <result column="customer_name" property="customerName" />
        <result column="com_linkman" property="comLinkman" />
        <result column="com_type" property="comType" />
        <result column="com_describe" property="comDescribe" />
        <result column="com_time" property="comTime" />
        <result column="com_spend_time" property="comSpendTime" />
        <result column="com_urgency" property="comUrgency" />
        <result column="com_complainant" property="comComplainant" />
        <result column="com_treating" property="comTreating" />
        <result column="com_feedback" property="comFeedback" />
        <result column="com_return" property="comReturn" />
        <result column="com_remark" property="comRemark" />
        <result column="com_agree" property="comAgree" />
    </resultMap>

</mapper>
