<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.CustomerTransferMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.CustomerTransfer">
        <id column="customer_transfer_id" property="customerTransferId" />
        <result column="client_id" property="clientId" />
        <result column="customer_transfer_old" property="customerTransferOld" />
        <result column="customer_transfer_new" property="customerTransferNew" />
        <result column="customer_transfer_remark" property="customerTransferRemark" />
        <result column="customer_transfer_handlers" property="customerTransferHandlers" />
        <result column="customer_transfer_time" property="customerTransferTime" />
        <result column="customer_transfer_state" property="customerTransferState" />
    </resultMap>

    <resultMap id="findByClient" type="com.trkj.crmproject.entity.Client" extends="com.trkj.crmproject.dao.ClientMapper.BaseResultMap">
        <association property="emp" javaType="com.trkj.crmproject.entity.Emp">
            <result column="emp_name" property="empName"/>
        </association>
    </resultMap>

    <resultMap id="findByCustomer" type="com.trkj.crmproject.entity.CustomerTransfer" extends="BaseResultMap">
        <association property="client" javaType="com.trkj.crmproject.entity.Client">
            <id column="client_id" property="clientId"/>
            <result column="client_name" property="clientName"/>
        </association>
    </resultMap>
<!--查询客户转移-->
    <select id="findByClient" resultMap="findByClient">
        select * from client left join emp on client.client_transfer = emp.emp_name
    </select>

<!--    模糊查询-->
    <select id="findByClientName" resultMap="findByClient">
        select * from client left join emp on client.client_transfer = emp.emp_name where client.client_name like '%${clientName}%'
    </select>

    <resultMap id="findByEmpName" type="com.trkj.crmproject.entity.Emp" extends="com.trkj.crmproject.dao.EmpMapper.BaseResultMap"></resultMap>
<!--    查询用户-->
    <select id="findByEmpName" resultMap="findByEmpName">
        select * from emp
    </select>

<!--    查询转出客户-->
    <select id="findOld" resultMap="findByCustomer">
        select * from customer_transfer left join client on customer_transfer.client_id = client.client_id where customer_transfer_old=#{customerTransferOld}
    </select>
<!--    查询转入客户-->
    <select id="findNew" resultMap="findByCustomer">
        select * from customer_transfer left join client on customer_transfer.client_id = client.client_id where customer_transfer_new=#{customerTransferNew}
    </select>

<!--    转移客户-->
    <update id="updateOld">
        update client set client_transfer=#{clientTransfer} where client_id=#{clientId}
    </update>
<!--    新增转移记录-->
    <insert id="addCustomer">
        insert into customer_transfer (client_id,customer_transfer_old,
                                       customer_transfer_new,customer_transfer_remark,
                                       customer_transfer_handlers,customer_transfer_time)
                                        values
                                        (#{clientId},#{customerTransferOld},
                                         #{customerTransferNew},#{customerTransferRemark},
                                         #{customerTransferHandlers},#{customerTransferTime})
    </insert>
</mapper>
