<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.InvoiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.Invoice">
        <id column="inv_id" property="invId" />
        <result column="order_number" property="orderNumber" />
        <result column="customer_name" property="customerName" />
        <result column="inv_time" property="invTime" />
        <result column="inv_type" property="invType" />
        <result column="inv_sum" property="invSum" />
        <result column="inv_whether" property="invWhether" />
        <result column="principal" property="principal" />
        <result column="inv_remarkinv_remark" property="invRemarkinvRemark" />
        <result column="inv_agree" property="invAgree" />
    </resultMap>

</mapper>
