<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.LinkmanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.Linkman">
        <id column="linkman_id" property="linkmanId" />
        <result column="client_id" property="clientId" />
        <result column="linkman_name" property="linkmanName" />
        <result column="linkman_phone" property="linkmanPhone" />
        <result column="linkman_position" property="linkmanPosition" />
        <result column="linkman_sex" property="linkmanSex" />
        <result column="linkman_remark" property="linkmanRemark" />
    </resultMap>
    <select id="selectByClientId" resultType="com.trkj.crmproject.entity.Linkman">
        select linkman_id,linkman_name,linkman_phone from linkman where client_id=#{ClientId}
    </select>


    <resultMap id="findByClient" type="com.trkj.crmproject.entity.Linkman" extends="BaseResultMap">
        <association property="client" javaType="com.trkj.crmproject.entity.Client">
            <id column="client_id" property="clientId" />
            <result column="client_name" property="clientName" />
        </association>
    </resultMap>
<!--    查询所有联系人-->
    <select id="findLinkman" resultMap="findByClient">
        select * from linkman left join client on linkman.client_id=client.client_id
    </select>

<!--    根据性别查询联系人-->
    <select id="findLinkmanSex" resultMap="findByClient">
        select * from linkman left join client on linkman.client_id=client.client_id where linkman_sex=#{linkmanSex}
    </select>

<!--    高级查询-->
    <select id="selectLinkman" resultMap="findByClient">
        select * from linkman left join client on linkman.client_id=client.client_id
            <where>
                <if test="linkmanId != null and linkmanId != ''">
                    and linkman_id=#{linkmanId}
                </if>
                <if test="linkmanName != null and linkmanName != ''">
                    and linkman_name=#{linkmanName}
                </if>
                <if test="linkmanPhone != null and linkmanPhone != ''">
                    and linkman_phone=#{linkmanPhone}
                </if>
            </where>
    </select>

<!--    新增联系人-->
    <insert id="addLinkman">
        insert into linkman (linkman_id,client_id,linkman_name,linkman_phone,linkman_position,linkman_sex,linkman_remark)
        values (#{linkmanId},#{clientId},#{linkmanName},#{linkmanPhone},#{linkmanPosition},#{linkmanSex},#{linkmanRemark})
    </insert>

<!--    修改联系人-->
    <update id="updateLinkman">
        update linkman set linkman_name=#{linkmanName},linkman_phone=#{linkmanPhone},
                           linkman_position=#{linkmanPosition},linkman_sex=#{linkmanSex},
                           linkman_remark=#{linkmanRemark}
        where linkman_id=#{linkmanId}
    </update>

</mapper>
