<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.OpportunityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.Opportunity">
        <id column="op_id" property="opId" />
        <result column="client_id" property="clientId" />
        <result column="op_theme" property="opTheme" />
        <result column="op_date" property="opDate" />
        <result column="op_state" property="opState" />
        <result column="op_type" property="opType" />
        <result column="op_findtime" property="opFindtime" />
        <result column="op_cu_source" property="opCuSource" />
        <result column="op_provider" property="opProvider" />
        <result column="op_cu_demand" property="opCuDemand" />
        <result column="op_expected_signing_date" property="opExpectedSigningDate" />
        <result column="op_possibility" property="opPossibility" />
        <result column="op_expected_amount" property="opExpectedAmount" />
        <result column="op_priority" property="opPriority" />
        <result column="op_stage" property="opStage" />
        <result column="op_stage_remarks" property="opStageRemarks" />
        <result column="op_timeliness" property="opTimeliness" />
        <result column="linkman_id" property="linkmanId" />
        <result column="emp_id" property="empId" />
        <result column="op_phase_stay" property="opPhaseStay" />
    </resultMap>
    <resultMap id="selectList" type="com.trkj.crmproject.entity.Opportunity" extends="BaseResultMap">
        <association property="client">
            <id column="client_id" property="clientId" />
            <result column="client_name" property="clientName" />
            <collection property="linkmen" ofType="com.trkj.crmproject.entity.Linkman"
                        select="com.trkj.crmproject.dao.LinkmanMapper.selectByClientId"
                        column="client_id"/>
        </association>
        <association property="emp">
            <id column="emp_id" property="empId" />
            <result column="emp_name" property="empName" />
            <result column="emp_tel" property="empTel" />
        </association>
        <association property="linkman">
            <id column="linkman_id" property="linkmanId" />
            <result column="client_id" property="clientId" />
            <result column="linkman_name" property="linkmanName" />
            <result column="linkman_phone" property="linkmanPhone" />
        </association>
    </resultMap>
    <select id="selectMore" resultMap="selectList">
        select * from selectopp opp
        <where>
            <if test="opportunity!=null">
                <if test="opportunity.stateStage!=null">
                    and opp.op_state like concat('%',#{opportunity.stateStage},'%') or
                    opp.op_stage like concat('%',#{opportunity.stateStage},'%')
                </if>
                <if test="opportunity.selectTypes!=null and opportunity.selectTypes!='' and opportunity.selectType!=null and opportunity.selectType!=''">
                    <choose>
                        <when test="opportunity.selectTypes=='机会主题'">
                            and opp.op_theme like concat('%',#{opportunity.selectType},'%')
                        </when>
                        <when test="opportunity.selectTypes=='客户名'">
                            and opp.client_name like concat('%',#{opportunity.selectType},'%')
                        </when>
                        <when test="opportunity.selectTypes=='负责人'">
                            and opp.emp_name like concat('%',#{opportunity.selectType},'%')
                        </when>
                    </choose>
                </if>
            </if>
            and opp.op_timeliness IS NULL
        </where>
        order by opp.op_id desc
    </select>

    <resultMap id="selectid" type="com.trkj.crmproject.entity.Opportunity">
        <id column="op_id" property="opId" />
        <association property="client">
            <id column="client_id" property="clientId" />
            <result column="client_name" property="clientName" />
            <collection property="linkmen" ofType="com.trkj.crmproject.entity.Linkman"
                        select="com.trkj.crmproject.dao.LinkmanMapper.selectByClientId"
                        column="client_id"/>
        </association>
        <association property="linkman">
            <id column="linkman_id" property="linkmanId" />
            <result column="client_id" property="clientId" />
            <result column="linkman_name" property="linkmanName" />
            <result column="linkman_phone" property="linkmanPhone" />
        </association>
        <collection property="demands" ofType="com.trkj.crmproject.entity.Demand">
            <id column="de_id" property="deId" />
            <result column="de_theme" property="deTheme" />
            <result column="de_content" property="deContent" />
            <result column="de_record_time" property="deRecordTime" />
            <result column="de_provider" property="deProvider" />
        </collection>
        <collection property="programmes" ofType="com.trkj.crmproject.entity.Programme">
            <id column="pro_id" property="proId" />
            <result column="pro_theme" property="proTheme" />
            <result column="pro_content" property="proContent" />
            <result column="pro_customer_feedback" property="proCustomerFeedback" />
            <result column="pro_record_time" property="proRecordTime" />
        </collection>
        <collection property="quotations" ofType="com.trkj.crmproject.entity.Quotation">
            <id column="qu_id" property="quId" />
            <result column="qu_theme" property="quTheme" />
            <result column="qu_state" property="quState" />
            <result column="qu_total_amount" property="quTotalAmount" />
            <result column="qu_no" property="quNo" />
            <collection property="quotationDetails" ofType="com.trkj.crmproject.entity.QuotationDetails">
                <id column="qd_id" property="qdId" />
                <result column="qd_quantity" property="qdQuantity" />
                <result column="qd_pro_total_amount" property="qdProTotalAmount" />
                <association property="product" javaType="com.trkj.crmproject.entity.Product">
                    <id column="pr_id" jdbcType="INTEGER" property="prId" />
                    <result column="pr_name" jdbcType="VARCHAR" property="prName" />
                    <result column="pr_price" jdbcType="DOUBLE" property="prPrice" />
                    <result column="pr_cost_price" jdbcType="DOUBLE" property="prCostPrice" />
                </association>
            </collection>
        </collection>
    </resultMap>
    <select id="selectByOpId" resultMap="selectid">
          SELECT
        opp.op_id, cl.client_id,cl.client_name,qu.qu_id,qu.qu_no,qu.qu_theme,qu.qu_state,qu.qu_total_amount,
        quo.qd_id,qd_quantity,quo.qd_pro_total_amount,p.pr_id,p.pr_name,p.pr_price,p.pr_cost_price,
        l.linkman_id,l.linkman_name,l.linkman_phone,de_id,de_theme,de_content,pro_id,
        pro_theme,pro_content,pro_customer_feedback,pro_record_time,de_record_time,de_provider
        FROM opportunity opp LEFT JOIN quotation qu ON opp.op_id=qu.op_id
         INNER JOIN `client` cl ON opp.client_id=cl.client_id LEFT JOIN quotation_details quo
         ON quo.qu_id=qu.qu_id LEFT JOIN product p ON p.pr_id=quo.pr_id
         LEFT JOIN linkman l ON l.linkman_id =opp.linkman_id
         left join demand de on opp.op_id=de.op_id and de.de_timeliness is null
         left join programme pr on opp.op_id=pr.op_id and pr.pro_timeliness is null
        where opp.op_id=#{opid}
    </select>
    <select id="selectAll" resultType="com.trkj.crmproject.entity.Opportunity">
        select op_id,op_theme from opportunity
    </select>


</mapper>
