<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.OrderFromMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.OrderFrom">
        <id column="odr_id" property="odrId" />
        <result column="odr_on" property="odrOn" />
        <result column="odr_price" property="odrPrice" />
        <result column="odr_out_price" property="odrOutPrice" />
        <result column="customer_name" property="customerName" />
        <result column="chance_name" property="chanceName" />
        <result column="odr_date" property="odrDate" />
        <result column="odr_out_date" property="odrOutDate" />
        <result column="odr_addressee" property="odrAddressee" />
        <result column="odr_addressee_telephone" property="odrAddresseeTelephone" />
        <result column="odr_addressee_phone" property="odrAddresseePhone" />
        <result column="odr_province" property="odrProvince" />
        <result column="odr_city" property="odrCity" />
        <result column="odr_address_type" property="odrAddressType" />
        <result column="odr_addressee_site" property="odrAddresseeSite" />
        <result column="odr_postcode" property="odrPostcode" />
        <result column="odr_state" property="odrState" />
        <result column="odr_freight" property="odrFreight" />
        <result column="client_id" property="clientId" />
        <result column="op_id" property="opId" />
        <result column="linkman_id" property="linkmanId" />
        <result column="odr_us_id" property="odrUsId" />
        <result column="odr_name" property="odrName"/>
        <result column="odr_shipments_state" property="odrShipmentsState"/>
        <result column="odr_remark" property="odrRemark"/>
        <result property="odrCount" column="odr_count"/>
        <result property="odrReturnPrice" column="odr_return_price"/>
    </resultMap>

    <resultMap id="ordMap" type="com.trkj.crmproject.entity.OrderFrom" extends="BaseResultMap">

        <association property="client" resultMap="com.trkj.crmproject.dao.ClientMapper.BaseResultMap"></association>
        <association property="emp" resultMap="com.trkj.crmproject.dao.EmpMapper.BaseResultMap"/>
        <association property="quotation" resultMap="com.trkj.crmproject.dao.QuotationMapper.BaseResultMap"/>
        <collection property="orderFromDetail" resultMap="com.trkj.crmproject.dao.OrderFromDetailMapper.BaseResultMap"/>
    </resultMap>


    <!--查询所有订单-->
    <select id="selectOrderByTj" resultMap="ordMap">
        select * from selectorder
        <where>

            <if test="(startDate != null) and (endDate != null)">
                and (DATE_FORMAT(odr_out_date,'%Y-%m-%d') between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d') or DATE_FORMAT(odr_out_date,'%Y-%m-%d') between DATE_FORMAT(#{endDate},'%Y-%m-%d') and  DATE_FORMAT(#{startDate},'%Y-%m-%d'))
            </if>

            <if test="(startDate != null) and (endDate == null)">
                and DATE_FORMAT(odr_out_date,'%Y-%m-%d') = DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>

            <if test="(startDate == null) and (endDate != null)">
                and DATE_FORMAT(odr_out_date,'%Y-%m-%d') = DATE_FORMAT(#{endDate},'%Y-%m-%d')
            </if>

            <if test="searchLike != null and searchLike != ''">
                and emp_name like '%${searchLike}%' or odr_name like '%${searchLike}%'
            </if>
            
            <if test="type != null and type != '' and type != '0 '">
                and odr_state like #{type}
            </if>
        </where>
        order by odr_date desc
    </select>



    <select id="selectOrderByOdrId" resultMap="ordMap">
        select * from selectorder where odr_on = #{odrOn}
    </select>


    <!-- 修改回款金额 -->
    <update id="updateprice">
        update order_from  set odr_return_price=odr_return_price+#{odrReturnPrice} WHERE odr_on=#{odrOn}
    </update>
    <update id="updateprices">
        update order_from  set odr_return_price=odr_return_price-#{odrReturnPrice} WHERE odr_on=#{odrOn}
    </update>
</mapper>
