<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.ProductDao">
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.Product">
        <id column="pr_id" jdbcType="INTEGER" property="prId" />
        <result column="pr_pc_id" jdbcType="INTEGER" property="prPcId" />
        <result column="pr_name" jdbcType="VARCHAR" property="prName" />
        <result column="pr_coding" jdbcType="VARCHAR" property="prCoding" />
        <result column="pr_state" jdbcType="INTEGER" property="prState" />
        <result column="pr_unit" jdbcType="VARCHAR" property="prUnit" />
        <result column="pr_price" jdbcType="DOUBLE" property="prPrice" />
        <result column="pr_cost_price" jdbcType="DOUBLE" property="prCostPrice" />
        <result column="pr_model" jdbcType="VARCHAR" property="prModel" />
        <result column="pr_weight" jdbcType="INTEGER" property="prWeight" />
        <result column="pr_outline" jdbcType="VARCHAR" property="prOutline" />
        <result column="pr_description" jdbcType="VARCHAR" property="prDescription" />
        <result column="pr_remark" jdbcType="VARCHAR" property="prRemark" />
        <result column="pr_timeliness" jdbcType="BOOLEAN" property="prTimeliness" />
    </resultMap>
    <sql id="Base_Column_List">
    pr_id, pr_pc_id, pr_name, pr_coding, pr_state, pr_unit, pr_price, pr_cost_price,
    pr_model, pr_weight, pr_outline, pr_description, pr_remark, pr_timeliness
  </sql>
    <select id="selectList" parameterType="com.trkj.crmproject.vo.SearchListVo" resultType="com.trkj.crmproject.entity.Product">
     select <include refid="Base_Column_List"></include> from product ${ew.customSqlSegment}
    </select>
</mapper>
