<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.ProductClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.ProductClass">
        <id column="pc_id" property="pcId" />
        <result column="pc_pid" property="pcPid" />
        <result column="pc_name" property="pcName" />
        <result column="pc_timeliness" property="pcTimeliness" />
    </resultMap>

</mapper>
