<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.QaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.Qa">
        <id column="qa_id" property="qaId" />
        <result column="call_centen_id" property="callCentenId" />
        <result column="qa_problem" property="qaProblem" />
        <result column="qa_explain" property="qaExplain" />
        <result column="qa_internal_tip" property="qaInternalTip" />
        <result column="qa_author" property="qaAuthor" />
        <result column="qa_time" property="qaTime" />
        <result column="qa_classify" property="qaClassify" />
        <result column="qa_state" property="qaState" />
    </resultMap>

<!--    查询QA库所有数据-->
    <select id="findQa" resultMap="BaseResultMap">
        select * from qa
    </select>
<!--    根据问题进行查询-->
    <select id="findQaProblem" resultMap="BaseResultMap">
        select * from qa where qa_pronlem=#{qaProblem}
    </select>
<!--    根据分类进行查询-->
    <select id="findQaClassify" resultMap="BaseResultMap">
        select * from qa where qa_classify=#{qaClassify}
    </select>
<!--    高级检索-->
    <select id="selectQa" resultMap="BaseResultMap">
        select * from qa
        <where>
            <if test="qaProblem != null and qaProblem !=''">
               and qa_pronlem=#{qaProblem}
            </if>
            <if test="qaAuthor != null and qaAuthor !=''">
                and qa_author = #{qaAuthor}
            </if>
            <if test="qaClassify != null and qaClassify !=''">
                and qa_classify=#{qaClassify}
            </if>
            <if test="qaState != null and qaState !=''">
                and qa_state=#{qaState}
            </if>
        </where>
    </select>

<!--    新增QA库-->
    <insert id="addQa">
        insert into qa (qa_problem,qa_explain,qa_internal_tip,qa_author,qa_time,qa_classify,qa_state)
                        values
                        (#{qaProblem},#{qaExplain},#{qaInternalTip},#{qaAuthor},#{qaTime},#{qaClassify},#{qaState})
    </insert>
<!--    修改QA库-->
    <update id="updateQa">
        update qa set qa_problem=#{qaProblem},qa_explain=#{qaExplain},
                      qa_internal_tip=#{qaInternalTip},qa_author=#{qaAuthor},
                      qa_time=#{qaTime},qa_classify=#{qaClassify},qa_state=#{qaState}
                where qa_id=#{qaId}
    </update>

</mapper>
