<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.ShipmentsFromMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.ShipmentsFrom">
        <id column="spt_id" property="sptId" />
        <result column="odr_on" property="odrOn" />
        <result column="spt_on" property="sptOn" />
        <result column="spt_state" property="sptState" />
        <result column="spt_date" property="sptDate" />
        <result column="spt_logistics_company" property="sptLogisticsCompany" />
        <result column="spt_logistics" property="sptLogistics" />
        <result column="client_id" property="clientId" />
        <result property="sptSfPrice" column="spt_sf_price" />
        <result property="sptSignDate" column="spt_sign_date"/>
    </resultMap>
    
    <resultMap id="shiMap" type="com.trkj.crmproject.entity.ShipmentsFrom" extends="BaseResultMap">
        <association property="orderFrom" resultMap="com.trkj.crmproject.dao.OrderFromMapper.BaseResultMap"/>
        <collection property="shipmentsDetailsList" resultMap="com.trkj.crmproject.dao.ShipmentsFromDetailMapper.BaseResultMap"/>

    </resultMap>

    <select id="selectShipmentByWhere" resultMap="shiMap">
        select * from selectshipment

        <where>

            <if test="(startDate != null) and (endDate != null)">
                and (DATE_FORMAT(odr_out_date,'%Y-%m-%d') between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d') or DATE_FORMAT(odr_out_date,'%Y-%m-%d') between DATE_FORMAT(#{endDate},'%Y-%m-%d') and  DATE_FORMAT(#{startDate},'%Y-%m-%d'))
            </if>

            <if test="(startDate != null) and (endDate == null)">
                and DATE_FORMAT(odr_out_date,'%Y-%m-%d') = DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>

            <if test="(startDate == null) and (endDate != null)">
                and DATE_FORMAT(odr_out_date,'%Y-%m-%d') = DATE_FORMAT(#{endDate},'%Y-%m-%d')
            </if>

            <if test="searchLike != null and searchLike != ''">
                and emp_name like '%${searchLike}%' or odr_name like '%${searchLike}%'
            </if>

        </where>

    </select>
</mapper>
