<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.WarehouseLeaveGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.WarehouseLeaveGoods">
        <id column="wlg_id" property="wlgId" />
        <result column="pr_id" property="prId" />
        <result column="wl_id" property="wlId" />
        <result column="wlg_prname" property="wlgPrname" />
        <result column="wlg_count" property="wlgCount" />
        <result column="wlg_remark" property="wlgRemark" />
        <result column="wlg_timeliness" property="wlgTimeliness" />
    </resultMap>

</mapper>
