<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.WarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.crmproject.entity.Warehouse">
        <id column="wa_id" property="waId" />
        <result column="wi_id" property="wiId" />
        <result column="wa_name" property="waName" />
        <result column="wa_location" property="waLocation" />
        <result column="wa_describes" property="waDescribes" />
        <result column="wa_state" property="waState" />
        <result column="wa_timeliness" property="waTimeliness" />
    </resultMap>

</mapper>
